<div class="row">
  <div class="span6 offset3">
    <h3>Sign in</h3>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
     <div class="offset0">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    
    <% end %>
       </div>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>