<div class="row">
  <div class="span6 offset3">
    <h3>Sign up</h3>
    <%= form_for(@job) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :type %>
      <%= f.text_field :type %>

      <%= f.label :contact %>
      <%= f.text_field :contact %>

      <%= f.label :description %>
      <%= f.text_area :description, size: "4x4"%>

      <div class = "offset0"><%= f.submit "Create my account", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>