<div class="row">
  <div class="span6 jobform">
    <%= form_for(@job) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Job Title" %>
      <%= f.text_field :name %>

      <%= f.label :job_type %>
      <%= f.select :job_type, [['Internship', 'Internship'], ['Full Time', 'Full Time']] %>

      <%= f.label :location, "Job Location" %>
      <%= f.text_field :location %>

      <%= f.label :contact %>
      <%= f.text_field :contact, value: current_user.email %>

      <%= f.label :description, "Job Description" %>
      <span class="tips">Describe the responsibilities of this job, required work experience, skills, or education.</span>
      <%= f.text_area :description, size: "6x6"%>

      <div class = "offset0"><%= f.submit button_text, class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>