<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :company %>
      <%= f.text_field :company %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <div class = "offset0">
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    </div>
    <% end %>
  </div>
</div>