<div class="row">
  <div class="span6 customform">
    <%= form_for @user , :html => { :multipart => true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :company , "Company Name" %>
      <%= f.text_field :company %>

      <%= f.label :photo , "Company Logo" %>
      <%= f.file_field :photo %>

      <%= f.label :website , "Website" %>
      <%= f.text_field :website %>

      <%= f.label :company_bio , "Company Description" %>
      <%= f.text_area :company_bio, size: "6x6" %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :location, "Location (City, State)" %>
      <%= f.text_field :location  %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <div class = "offset0">
        <%= f.submit button_text, class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>