 <% if !signed_in?	%>
  <div class="row">
    <div class="span5">
      <h2>Welcome to the end <br> of your job search</h2>
      <div class = "lead">Find internships and entry-level <br> positions at amazing startups</div>
    </div>
    <div class="span5">
      <img src="/assets/s2s_home.png" alt="Startups2Students"/>
    </div>
  </div>
  <div class="row">
    <div class="span3"></div>
      <div class="span4"><%= link_to  "Employer Sign up", signup_path, class: "btn btn-large btn-primary splash-button"%></div>
      <div class="span3"></div>
    </div>
    <% end %>
  <h4>Available Positions</h4>
  <%- model_class = Job -%>
  <table class="table table-striped ">
  <thead>
    <tr>
      <!-- <th><%= sortable model_class.human_attribute_name(:name) %></th>
      <th><%= sortable model_class.human_attribute_name(:type) %></th>
      <th><%= sortable model_class.human_attribute_name(:description) %></th>
      <th><%= sortable model_class.human_attribute_name(:company) %></th>
      <th><%= sortable model_class.human_attribute_name(:location) %></th>
      <th><%= sortable model_class.human_attribute_name(:contact) %></th> -->

      <th><%= sortable 'name'%></th>
      <th><%= sortable 'job_type', 'Type' %></th>
      <th><%= sortable 'company' %></th>
      <th><%= sortable 'location' %></th>
      <th>Contact/Apply</th>
      <th><%= sortable 'created_at', 'Posted' %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
     <tr>      <!-- onmouseover="this.style.cursor='pointer';" onclick="location.href='<%=job_url(job)%>';" style="cursor: pointer;" -->
        <td><%= link_to job.name, job_url(job) %></td>
        <td><%= job.job_type %></td>
        <td><%= link_to job.company, user_url(job.user_id) %></td>
        <td><%= job.location %></td>
        <td><%= job.contact %></td>
        <td><%= job.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

