<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Startups2Students | Connecting Students and Startups" %></title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content ="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render 'layouts/header' %>
<div class ="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
	<div class="row">
		<div class="span9"><%= yield %></div>
	</div>	
  <%= debug(params) if Rails.env.development? %>
</div>


</body>
</html>
